<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="#" [routerLink]="['/']">Weather</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav">
        <li  *ngIf="show" class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/register']">Register</a>
        </li>
        <li  *ngIf="show" class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/signin']">Login</a>
        </li>
        <li *ngIf="!show" class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/admin-panel']">My Panel</a>
        </li>
        <li *ngIf="!show" class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
  </div>
</nav>