hr {
    margin: 0;
    padding: 0;
}
p.precip {
    color:red;
}
div.row p {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.card {
    display: inline-block;
    width: 300px;
    min-height: 300px;
    padding: 10px;
}
.icon {
    width: 120px;
    height: 120px;
    margin:0;
    padding:0;
}
.left {
    position: relative;
    left: 25px;
}
.left span {
    position: relative;
    left: 10px;
}
.left img {
    width: 100px;
    height: auto;
    position: relative;
    left: 0px;
    top: -6px;
}