<br>
<div>
<h1 class="text-center">Current Weather</h1>
<h6 *ngIf="forecasts" class="text-muted text-center">
    Updated {{ (time - forecasts[0].time * 1000) / 1000 / 60  | number:'1.0-0' }} min ago
</h6>
</div>
<br>
<div class="card-columns d-flex flex-wrap justify-content-center">
  <div *ngFor="let forecast of forecasts">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{ forecast.place }}</h4>
        <hr>
        <div class="row">                 
          <div class="col-sm-4">          
            <p>{{forecast.summary}}</p>
            <p>
              <i class="fa fa-thermometer-quarter"></i> {{ forecast.temperature | number: '1.0-0'}} &deg;C
            </p>      
          </div> 
          <div class="col-sm-8">
             <img class="icon" src="../../../assets/weather-icons/{{forecast.icon}}.svg"> 
          </div>                
        </div>
        <div class="text-center">
          <a href="#" [routerLink]="['/details/'+forecast.place]" class="btn btn-md btn-secondary">
            <i class="fa fa-arrow-circle-right"> Details</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  

  